@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;1000&family=Work+Sans:wght@300;400;600;700&display=swap');
/* start  */

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;

}
.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    background: #ff670fef;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
    width: 170px;
    height: 60px;
}



/* header  style */

header{
    background: white;
    padding: 50px 60px;
}

.herot{
    display: flex inline;
    gap: 5px;
    float: left;
}
.home{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hb{
 float: right;
color: #000000;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.herot{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.tvl{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 25px;
    font-weight: 400px;
}

nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner styles */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* If the image has absolute positioning, add this */
  }

  .banner .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .banner .bar {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

.bar{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    
   
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #f3f3f3;
    position: relative;
    

}
    

.band{
    color: rgb(243, 243, 243);
}

.w{
 width: 150px;
height: 60px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}

/* end header  */

/* start main  */
.tour1{
    padding: 50px 60px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.text{

    display:  grid;
    grid-template-columns: repeat(1, 1fr);
    gap:1px ;
    
}
.ol1{
    display:  grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4px;    

}

/* choose destination dimage */
.dstn {
    padding: 50px 60px;
    text-align: center;
}

.text2 {
    margin-bottom: 50px;
}

.dimg {
    justify-content: space-around;
}

.ly1,
.ly2,
.ly3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.image-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    
    align-items: center;
    position: relative;
}

.image-container img {
    max-width: 100%;
}

.image-container .d1 , .d2 ,.d4 , .d6 , .d7 {
    position: absolute;
    bottom: 100px;
    right: 220px;
    height: 30px;
    border-radius: 16px;
    color: #FFF;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

    .image-container .d3 , .d5{
        position: absolute;
        bottom: 100px;
        right: 100px;
        height: 30px;
        border-radius: 16px;
        color: #FFF;
        font-size: 2rem;
        padding-left: 20px;
        padding-right: 20px;

    }

    .image-container .d4 {

        position: absolute;
        bottom: 100px;
        right: 150px;
        height: 30px;
        border-radius: 16px;
        color: #FFF;
        font-size: 2rem;
        padding-left: 20px;
        padding-right: 20px;
    }


/* why */

.why{
    padding: 10px 60px;
    text-align: center;

}
.up{
    display: flex;
    justify-content: space-around;
}

/* .card-container {
    display: flex;
    justify-content: space-around;
    
} */

 .card{

    border-radius: 8px;
    border-radius: 16px;
border: 1px solid rgba(182, 131, 72, 0.2);
background: rgba(251, 180, 99, 0.288);
    text-align: left;
    padding: 40px 30px;
    
}
 .card-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 5px;
}
 .card-stats{
    font-size: 1.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* c3 */
.why1{
    padding: 50px 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card3{
     
    border-radius: 8px;
    border-radius: 16px;
border: 1px solid rgba(179, 130, 76, 0.2);
background: rgba(119, 90, 224, 0.267);
    text-align: left;
    padding: 40px 30px;
    width: 400px;
    height: 120px; 
}


/* deals */

.deals{

    padding: 50px 60px;
    text-align: center;

}

.pic1{
    position: relative;
  }

  .pic2{
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 70px;
    right: 20px;
    height: 350px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 20px;
    padding-right: 20px;}


     .text-block2 {
        margin-left: 20px;
        position: absolute;
        bottom: 70px;
        left: 20 px;
        height: 350px; /* Adjust width if needed */
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        padding: 20px; /* Combine padding-left and padding-right */
        
    }

   
    .tl{
 display: flex ;
justify-content: space-around;
color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    .seeall{
        margin-top: 20px;
        border-radius: 8px;
        color: #FFF;
        font-size: 1rem;
        background: #ff670fef;
        padding: 20px 25px;
        color: #FFF;
        cursor: pointer;
        border: 0;
        width: 170px;
        height: 70px;}


        /* bandorban */

        .r4 {
            position: relative;
            text-align: center;
        }
        
        .r4 img {
            max-width: 100%;
        }
        
        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Set the text color */
            font-size: 18px; /* Adjust the font size as needed */
            font-weight: bold; /* Adjust font weight if desired */
        }
         

        /* newstller */
        .news{
            display: flex;
        }

        .newsletter-card {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            background-color: #f5f5f5;
            border-radius: 10px;
            text-align: center;
            border: solid 1px orangered;
        }
        
        .newsletter-card h2 {
            color: #333;
        }
        
        .newsletter-card p {
            color: #666;
        }
        
        form {
            margin-top: 20px;
        }
        
        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #0056b3;
        }
        
        .r4 {
            position: relative;
            text-align: center;
        }
        
        .r4 img {
            max-width: 100%;
        }
        
        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Set the text color */
            font-size: 18px; /* Adjust the font size as needed */
            font-weight: bold; /* Adjust font weight if desired */
        }

        .i81 {
            position: relative;
        }
        
        .image-container {
            position: relative;
            display: inline-block;
        }
        
        .promo-button {
            position: absolute;
            bottom: 40px;
            right: 20px;
            background-color: orangered;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transform: rotate(-45deg);
        }
        
        footer {
            background-color: #c0b6b6;
            color: #270f0f;
            padding: 20px 0;
            text-align: center;
        }
        
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        h1 {
            margin-bottom: 10px;
        }
        
        .social-icons {
            margin-bottom: 20px;
        }
        
        .social-icons a {
            display: inline-block;
            margin-right: 10px;
        }
        
        p {
            font-size: 14px;
        }
        






/* media  */


        @media screen and (max-width:576px)
            {
            header{

                padding: 30px;
                

            }

            .banner , .banner-title {
                display: flex;
                flex-direction: column;
                font-size: 1em;
              
               
              }
              .band{
                display: flex;
                flex-direction: column;
                font-size: .5 em;

              }
            
            .bar{

                display: flex;
                flex-direction: column;
               padding: 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    font-size: 1em;
              
                
               
            }




            main{
                padding: 30px;
                
            }

            .tour1{
                display: flex;
                flex-direction: column;
            }
            .text2 {
                display: flex;
                flex-direction: column;
            }
            .ly1, .ly2 ,.ly3{
                display: grid;
                grid-template-columns: repeat(1, 1fr);}


                .up{
                    display: flex;
                flex-direction: column;
                }

            .pic1 , .pic2{
                display: flex;
                flex-direction: column;     
                    
                    width: 300px;
                    height: 300px;
                    border-radius: 16px;
          
            }  
             .text-block2 , .text-block{
                
                height: 100px; /* Adjust width if needed */
                border-radius: 16px;
                border: 2px solid #887b7b;
                background: rgba(255, 255, 255, 0.80);
                backdrop-filter: blur(2.5px);
                
                
            }

            .news{
                display: flex;
                flex-direction: column;

            }

            .footer{
                display: flex;
                flex-direction: column;

            }



            }